<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1> Hello World from {{title}} Page </h1>
    <h2>  My name is {{name}} </h2>
    <div class="container">
        <nav>
            <img src="/images/teena.jpg" alt="profile picture">
        </nav>
        <div class="home"></div>
        <div class="projects"></div>
        <div class="contact"></div>
        
    </div>
</body>
</html>